<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand">Angular Router</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="courses">Courses</a></li>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">

  <div class="container">
  	<a class="navbar-brand">Angular Router</a>
    <ul class="navbar navbar-nav" routerLinkActive="active">
      <li class="nav-item">
        <a class="nav-link" routerLink="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="programming">Programming</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="reviews">Reviews</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="equipment">Equipment</a>
      </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>